.item {
    margin-right: 20px;
}



.link {
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
}

.linkHero {
    color: var(--burgundy);
}

.itemFooter{
    margin-right:12px ;
}